.logo {
  background: -webkit-linear-gradient(rgb(22 2 28), rgb(79 11 11));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.nav-text {
  color: #000 !important;
}
.nav-bg {
  background: linear-gradient(
    to left top,
    #3c6ca7,
    #346299,
    #3b5e88,
    #3b5c83,
    #235ea5
  );
  background: linear-gradient(
    110deg,
    rgb(253, 205, 59) 40%,
    rgb(73, 65, 32) 40%,
    rgb(255, 237, 75) 40%
  );
}
.d-mobile {
  display: none !important;
}
.d-desktop {
  display: block !important;
}
.m-pading {
}
@media screen and (max-width: 1000px) {
  .d-mobile {
    display: block !important;
  }
  .d-desktop {
    display: none !important;
  }
  .m-pading {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
}
