-body {
}
.react-multiple-carousel__arrow {
  display: none;
}
.nav-link {
  color: #515050 !important;
  font-weight: 400;
}
.text-white {
  color: #fff !important;
  font-size: large;
  font-weight: bolder;
}
.p-2-px {
  padding: 2px !important;
}
.mx-2-px {
  margin-left: 2.5px !important;
  margin-right: 2.5px !important;
}
.slider-img {
  height: 320px;
  width: 100%;
}

.movie-img {
  height: 180px;
  width: 100%;
  border-radius: 7px;
}
.movie-logo-img {
  height: 90px;
  width: 100%;
  border-radius: 7px;
}
.fw-100 {
  font-weight: 100;
}
.fs-12 {
  font-size: 12px;
}
.bg-light-black {
  background-color: #f6efef;
  font-weight: 100;
}
.movie-ss-img {
  height: 180px;
  width: 100%;
  border-radius: 7px;
}
.services-title {
  margin-top: auto;
  margin-left: 7px;
  color: #a31e73;
  background-color: #c1b6b6;
  width: fit-content;
  padding: 1px 8px;
  display: flex;
  border-radius: 10px;
}
.section-title {
  height: 380px;
  padding: 20px;
  text-decoration: underline rgb(68 34 67) 6px;
}
@media screen and (min-width: 1000px) {
  .section-col {
    flex: 0 0 auto;
    width: 20%;
  }
}
.section-img {
  height: 260px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: 100% 260px;
}
.section-des {
  color: #a30505;
  background-color: #ece0e0b5;
  width: fit-content;
  padding: 1px 8px;
  border-radius: 10px;
  display: none;
  height: 100%;
  opacity: 1.2;
}
.section-col:hover .services-title {
  display: none;
}
.section-col:hover .section-des {
  display: block;
}
